
<div class="body">

    <div class="header">
        <h1> Quem é o baby? </h1>
    </div>

    <div class="black-line"></div>


    <div class="form">
        <form action="/midia" class="formlogin">

            <div class="col-auto form-data">

                <span style="font-size: 25px; "> Nome: </span><br>
                <input type="text" id="input" class="form-control"
                    placeholder="insira seu usuário"><br>
                <span style="font-size: 25px; "> Data de nascimento: </span><br>
                <input type="date" id="input" class="form-control"
                    placeholder="insira seu senha">

            
                <button type="submit" formaction="/midia">
                    <figure>
                        <img src="assets/img/next.png" alt="Minha Figura">
                    </figure>

                </button>
  
            </div>

        </form>
    </div>
</div>