
.body {
    height: 100vh;
    font-family: 'Pompiere', cursive;
    background-color: white;
    text-align: center;
    color: black;
    align-items: center;
    border: #9da888 solid 20px;
}

.header {  
    padding: 30px;
    font-family: 'Pompiere', cursive;
    

}
.header h1{
   
    font-weight: normal;
}

.black-line {
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid black;
    width: 80%;
}


.form {
    
    margin: auto;
    width: 200px;
    text-align: left;
}

input {
    height: 60px;
    width: 200px;
    margin-top: 20px;
    border-radius: 15px;
    color:white;
    background-color:#9da888;
    border: none;
}


button {
    
    margin-top: 40px;
    border: none;
    background-color: none;
    background: none;

}

.image-upload>input {
    display: none;

}

img {
    margin-left: -45px;
    border-radius: 20px;
}