<div class="body">
    <div class="title">
        <span> Arquivos enviados</span>
    </div>
    <div class="black-line"></div>

    <div class="text-principal"> Agora é só aguardar, que quandos os arquivos estiverem prontos você sera notificado!</div>

    <span class="text-principal"> Lista de arquivos: </span>
    <div class="list">
        <li>Foto3213123.pgn</li>
        <li>Foto3213123.pgn</li>
        <li>Foto3213123.pgn</li>
    </div>

    <div class="buttons">
        <button type="submit" id="button-entrar">Adicionar mais</button>
        
    </div>
</div>