
<div id="body">
    
    <div class="container">
        
        <div class="container" id="header">

            <h1 id="title">Irmãs  Bordô</h1>
       
        </div>

        <div class="white-line"></div>
       
        <div class="principal-text">

            <h2>Bem vindo!</h2>

            <p> Este é o ambiente de coleta Irmãs Bordô, aqui você
                irá adicionar os arquivos de vídeos 
                e fotos que 
                deseja inserir no álbum surpresa

        </div>
        <div>
        <h3> Vamos começar? </h3>
    </div>
        <div class="form">
            <form action="/form" class="formlogin">

                <div class="col-auto ">

                    <span style="font-size: 100%; ">Entre ou cadastre-se:</span><br>
                    <input type="text" id="input" class="form-control input-login" placeholder="insira seu usuário" ><br>
                    <input type="text" id="input" class="form-control input-login" placeholder="insira sua senha">                
                </div>
                <br>
                    <button type="submit" id="button-entrar">entrar</button>
                    <button type="submit" id="button-cadastrar">Cadastre-se aqui</button>
        </form>
        </div>
    </div>
</div>