html {
    background-color:#9da888;
}

#body{
    
    background-color: #9da888; 
    text-align: center;
    font-family: 'Questrial', sans-serif;
    min-height: 100%;
    color: black;
}

#header{
    display: table;
    font-family: 'Crafty Girls', cursive;
    margin:auto;
    margin-top: 15px;
    background-color: #3A4429;
    border-radius: 50%;
    width: 130px;
    height: 130px;

}

#title{
    font-size: 150%;
    color: white;
    text-align: center;
    vertical-align:middle;
    display: table-cell;
}
h2{
    margin: 30px; 
    font-size: 180%;
    font-weight:normal;
}

.principal-text{
    
    padding: 20px;
    font-size: 20px;
    font-family: 'Pompiere', cursive;
    margin-bottom: 30px;
    
}
h3{
    margin-top: -40px;
    font-weight:normal;

}
.form{
    
    font-family: 'Gill Sans', sans-serif; text-align: left;
    position:relative;
    margin:auto;
    width:320px;
    height:270px;
}



.formlogin button{
    margin: auto;
}

.formlogin span{
    margin-bottom: -60px;
}

.input-login{

    height: 60px;
    width: 300px;
    margin-top: 20px;
    border-radius: 15px;
    color:white;
    background-color:#3A4429;
    border: none;
}

.white-line{
    margin: auto;
    margin-top: 15px;
	border: 1px solid white;
    
    width: 80%;
}

button{
    margin-top: 20px;
    display:block;
    border: none;
    background-color: none;
    background: none;
    text-decoration: underline;

    color: #3A4429;

}

#button-entrar{
    font-size: 30px;
    font-family: 'Pompiere', cursive;

}

#button-cadastrar{
    font-size: 15px;
}