.body {
    font-family: 'Pompiere', cursive;
    min-height: 100vh;
    background-color: white;
    text-align: center;
    color: black;
    align-items: center;
    border:#9da888 solid 30px
    
}

.header {
    text-align: center;
    margin: 30px;
    font-family: 'Pompiere', cursive;
}
h1{
    font-weight: normal;

}
.formInput div{
    margin: auto;
}
.form {

    margin-top: 20PX;
    position: relative;
    width: 320px;
    
    text-align: left;
}

input,textarea {
    height: 60px;
    width: 320px;
    margin-top: 20px;
    border-radius: 15px;
    color:white;
    background-color:#9da888;
    border: none;
}
textarea{
    height: 140px;

}
.black-line {
    margin: auto;
    margin-top: 15px;
    border: 1px solid black;

    width: 60%;
}

img {
    margin: auto;
    margin-left: 20%;
}

button {
    align-items: center;

    margin-top: 20px;
    display: block;
    border: none;
    background-color: none;
    background: none;

}

.image-upload>input {
    display: none;

}

input, textarea, img {
    background-color: #9da888;
    border-color: #9da888;
    border-radius: 20px;
    border-bottom: 30p;
}
button{
    padding-bottom: 40px;
    margin: auto;
    font-size: 30px;
    font-family: 'Pompiere', cursive;
    text-decoration: underline;


}