
<div class="body">

    <div class="header">
        <h1> Insira um ou mais arquivos dos principais momentos: </h1>
    </div>


    <form action="irmasbordo-angular/files" class="formInput">

        <div class="col-auto form">

            <div class="image-upload">
                <label for="file-input">
                    <img src="assets/img/add.png">
                </label>
                <input id="file-input" type="file" multiple="multiple"
                    (change)="onFileSelected($event)"/>

            </div>

            <div *ngFor="let file of files" style="margin-top: 20px;">
                {{file.name}}
            </div>
            <span style="font-size: 25px; "> Insira um Título:</span>
            <input type="text" id="input" class="form-control input-login"
                placeholder="Título desejado"><br>
            <span style="font-size: 25px; "> Selecione um periodo: </span>
            <input type="date" id="input" class="form-control input-login"
                placeholder="insira sua senha"><br>
            <span style="font-size: 25px; "> Adicione uma descrição ou
                comentário: </span><br>
            <textarea id="input" class="form-control input-login"
                placeholder="insira sua descrição"></textarea>
            <button type="submit" id="button-entrar">enviar</button>
        </div>




    </form>
</div>